@import './common';
@import './example';
@import './utils/variables';
@import './utils/breakpoints';
@import './utils/mixins';
@import './utils/placeholders';
@import './components/lights';
@import './components/snow';
@import './components/body';
@import './components/container';
@import './components/section';
@import './components/page-header';
@import './components/hero';
@import './components/product';
@import './components/about';
@import './components/advantages';
@import './components/customers';
@import './components/contacts';
@import './components/footer';
@import './components/main-modal';
@import './components/product-modal';
@import './components/video-modal';
@import './components/map-modal';
@import './components/franchise-modal';