%list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  %button-default {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 11px 26px 11px 26px;
    border-radius: 10px;
      cursor:
          url('/src/images/cursor-pointer.png'),
          pointer;

    background-color: transparent;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.21;

    @media screen and (min-width: $desctop) {
      padding: 12px 34px 12px 34px;

      font-size: 14px;
      line-height: 1.28;
    }
  }

  %button-read {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 12px 34px 12px 34px;
    border-radius: 10px;
      cursor:
          url('/src/images/cursor-pointer.png'),
          pointer;

    font-weight: 600;
    font-size: 14px;
    line-height: 1.28;
  }

  %button-row {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border: none;
      cursor:
          url('/src/images/cursor-pointer.png'),
          pointer;

    background-color: transparent;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.21;
    text-decoration: underline;

    @media screen and (min-width: $desctop) {
      font-size: 14px;
      line-height: 1.21;
    }
  }

  %button-large {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 12px 40px 12px 40px;
    border-radius: 10px;
      cursor:
          url('/src/images/cursor-pointer.png'),
          pointer;

    font-weight: 600;
    font-size: 14px;
    line-height: 1.28;
  }

  %button-transparent {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 12px 55px 12px 55px;
    border-radius: 10px;
      cursor:
          url('/src/images/cursor-pointer.png'),
          pointer;

    background-color: transparent;

    font-weight: 600;
    font-size: 14px;
    line-height: 1.28;
  }

  %button-buy {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 12px 36px 12px 36px;
    border-radius: 10px;
      cursor:
          url('/src/images/cursor-pointer.png'),
          pointer;

    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
  }


%visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  %no-padding {
    padding-top: 0;
    padding-bottom: 0;
  }

%advantages-icon {
    content: '';
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    background-color: var(--accent-color);
    background-size: 36px 36px;
}