<section class="section">
  <div class="container">
    <p class="section-label about_label">tradition and love</p>
    <h2 class="section-title about_title">how it’s made?</h2>
    <div class="about_container">
      <div class="about_thumb">
        <div class="about_image"></div>
      </div>
      <div class="about_content">
        <ul class="about_list">
          <li>
            <p class="about_text">
              Ice is a place where you will become not only a little happier,
              but also healthier. Health is the main value for us, and we follow
              it when creating our handmade desserts.
            </p>
          </li>
          <li>
            <p class="about_text">
              We use traditional recipes and 100% natural ingredients. Our
              products are so natural that they can be given to children from
              the age of three years. Sweets lovers can expect 55 types of ice
              cream, 15 types of coffee and 23 milkshakes.
            </p>
          </li>
          <li>
            <p class="about_text about_visually-hidden">
              This is enough to choose ice cream and coffee for any mood!
            </p>
          </li>
        </ul>
        <button type="button" class="about_button about-button read js-open-modal"  data-modal="video">
          Read more
          <svg class="about-button_icon" width="12" height="12">
            <use href="./images/sprite.svg#icon-buy-now-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
