<section class="advantages">
    <h2 class="titel-hide">Advantages</h2>
    <div class="advantages-columns container">
        <div class="advantages-block advantages-cow">
            <h3 class="advantages-block__titel">721</h3>
            <p class="advantages-block__par">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
        <div class="advantages-block advantages-weight">
            <h3 class="advantages-block__titel">16kg</h3>
            <p class="advantages-block__par">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
        <div class="advantages-block advantages-ice">
            <h3 class="advantages-block__titel">84</h3>
            <p class="advantages-block__par">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
    </div>
    
</section>