<section class="contacts">
  <h2 class="visually-hidden">contacts</h2>
  <ul class="contacts__lists">
    <li class="contacts__list">
      <div class="contacts__block">
        <div class="contacts__thumb contacts__thumb--size">
          <p class="contacts__title">CAFE</p>
        </div>
        <p class="contacts__text">Chicago</p>
        <a class="contacts__link" href=""
          >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
        >
      </div>
      <div class="contacts__block">
        <span class="contacts__type">Monday - Friday</span>
        <p class="contacts__time">06:00 AM - 10:00 PM</p>
        <span class="contacts__type">Saturday - Sunday</span>
        <p class="contacts__time">08:00 AM - 16:00 PM</p>
      </div>
      <address class="contacts__block">
        <a class="contacts__address" href="tel:+610383766284"
          >+61(0) 383 766 284</a
        >
        <a class="contacts__address" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </address>
    </li>
    <li class="contacts__list">
      <div class="contacts__block">
        <div class="contacts__thumb contacts__thumb--big-size">
          <p class="contacts__title">FOODTRUCK</p>
        </div>
        <p class="contacts__text">Los Angeles</p>
        <a class="contacts__link" href=""
          >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
        >
      </div>
      <div class="contacts__block">
        <span class="contacts__type">Monday - Friday</span>
        <p class="contacts__time">06:00 AM - 10:00 PM</p>
        <span class="contacts__type">Saturday - Sunday</span>
        <p class="contacts__time">08:00 AM - 16:00 PM</p>
      </div>

      <address class="contacts__block">
        <a class="contacts__address" href="tel:+610383766284"
          >+61(0) 383 766 284</a
        >
        <a class="contacts__address" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </address>
    </li>
    <li class="contacts__list">
      <div class="contacts__block">
        <div class="contacts__thumb contacts__thumb--size">
          <p class="contacts__title">CAFE</p>
        </div>
        <p class="contacts__text">New York</p>
        <a class="contacts__link" href=""
          >726 Sterling Pl, Brooklyn, NY 11222, USA</a
        >
      </div>
      <div class="contacts__block">
        <span class="contacts__type">Monday - Friday</span>
        <p class="contacts__time">06:00 AM - 10:00 PM</p>
        <span class="contacts__type">Saturday - Sunday</span>
        <p class="contacts__time">08:00 AM - 16:00 PM</p>
      </div>
      <address class="contacts__block">
        <a class="contacts__address" href="tel:+610383766284"
          >+61(0) 383 766 284</a
        >
        <a class="contacts__address" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </address>
    </li>
  </ul>
  <div class="contacts__btn">
    <button
      class="contacts-btn__large large js-open-modal"
      data-modal="map"
      type="button"
    >
      Our Locations
      <svg class="contacts__icon" width="12" height="12">
        <use href="./images/sprite.svg#icon-buy-now-arrow"></use>
      </svg>
    </button>
    <button
      class="contacts-btn__transparent transparent"
      data-modal-open
      type="button"
    >
      Franchise
      <svg class="contacts__icon" width="12" height="12">
        <use href="./images/sprite.svg#icon-buy-now-arrow"></use>
      </svg>
    </button>
  </div>
</section>
