<section class="gallere_icecream">
    <div class="container gallery">
        <picture class="gallery__picture">
            <source srcset="./images/slider/slider-1-s@1x.jpg 1x, ./images/slider/slider-1-s@2x.jpg 2x" media="(max-width: 767px)">
            <source srcset="./images/slider/slider-1-m@1x.jpg 1x, ./images/slider/slider-1-m@2x.jpg 2x" media="(min-width: 768px)">
            <source srcset="./images/slider/slider-1-l@1x.jpg 1x, ./images/slider/slider-1-l@2x.jpg 2x" media="(min-width: 1200px)"> 
            <img src="./images/slider/slider-1-s@1x.jpg" alt="Ice Cream" width="280px">
        </picture>

        <!-- <picture class="gallery__picture">
            <source srcset="./images/slider/slider-2-l@1x.jpg 1x, ./images/slider/slider-2-l@2x.jpg 2x" media="(min-width: 1200px)"> -->
            <img src="./images/slider/slider-2-l@1x.jpg" alt="Ice Cream" width="280px">
        <!-- </picture> -->

        <!-- <picture class="gallery__picture">
            <source srcset="./images/slider/slider-3-l@1x.jpg 1x, ./images/slider/slider-3-l@2x.jpg 2x" media="(min-width: 1200px)"> -->
            <img src="./images/slider/slider-3-l@1x.jpg" alt="Ice Cream" width="280px">
        <!-- </picture> -->
    </div>
</section>