<div class="section hero">
  <div class="hero-section__container container">
    <h1 class="hero-section__title">ice cream made with passion</h1>
    <div class="hero-section__between">
      <ul class="hero-section__list">
        <li class="hero-section__item">
          <button class="hero-section__button">
            <a href="#product" class="hero-section__button-link" >Products</a>
          </button>
        </li>
        <li class="hero-section__item">
          <button class="hero-section__secondbtn"><a class="hero-section__link" href="#about">How it’s made?</a></button>
        </li>
      </ul>
      <div class="hero-section__spots">
        <span class="hero-section__number">16</span>
        <span class="hero-section__places">cafes</span>
        <span class="hero-section__number hero-section__number--margin">23</span>
        <span class="hero-section__places">food trucks</span> 
      </div>

      <picture class="hero-section__picture">
        <source
          srcset="
            /src/images/header/ice-cream-l@1x.png 1x,
            /src/images/header/ice-cream-l@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            /src/images/header/ice-cream-m@1x.png 1x,
            /src/images/header/ice-cream-m@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /src/images/header/ice-cream-s@1x.png 1x,
            /src/images/header/ice-cream-s@2x.png 2x
          " 
          media="(max-width: 767px)"
        />
        <img src="/src/images/header/ice-cream-l@1x.png" alt="морозиво" />
      </picture>
    </div>

    <div class="hero-section__content">
      <picture class="hero-section__plate">
        <source
          srcset="
            /src/images/header/ice-plate-l@1x.png 1x,
            /src/images/header/ice-plate-l@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            /src/images/header/ice-plate-m@1x.png 1x, 
            /src/images/header/ice-plate-m@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <img src="/src/images/header/ice-plate-m@1x.png" alt="морозиво" />
        
      </picture>
      <div class="hero-section__text">
        <p class="hero-section__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et</p>
          

          <button type="button" class="hero-section__arrow">
                                <svg class="hero-arrow" width="40px" height="16px" >
                                    <use href="./images/sprite.svg#icon-arrow"></use>
                               </svg>
        </p>
      </div>
          
       
    </div>
  </div>
</div>
