<div class="section">
  <div class="container">
    <h1 class="hero-section__title">ice cream made with passion</h1>
    <ul class="hero-section__list">
      <li class="hero-section__item">
        <button class="hero-section__button">
          <a href="" class="hero-section__button-link">Products</a>
        </button>
      </li>
      <li class="hero-section__item">
        <a href="#" class="hero-section__link">How it’s made?</a>
      </li>
    </ul>
    <picture>
      <source
        srcset="
          /src/images/header/ice-cream-l@1x.jpg 1x,
          /src/images/header/ice-cream-l@2x.jpg 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          /src/images/header/ice-cream-m@1x.jpg 1x,
          /src/images/header/ice-cream-m@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          /src/images/header/ice-cream-s@1x.jpg 1x,
          /src/images/header/ice-cream-s@2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img src="/src/images/header/ice-cream-l@1x.jpg" alt="морозиво" />
    </picture>
  </div>
</div>
