<header class="header">
  <div class="container header__container">
    <div class="logo">
      <img src="./images/logo.png" alt="логотип компанії" />
    </div>
    <nav class="navigation header__navigation">
      <ul class="menu list">
        <li class="menu__item">
          <a class="menu__link current" href="">Home</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="">How it's made?</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="">Our products</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="tablet-button">
      <svg class="mobile-button" width="32" height="32">
        <use href="./images/sprite.svg#icon-menu-open"></use>
      </svg>
      <button type="button" class="order">Buy now ></button>
    </div>
  </div>
</header>
