<div class="product-modal modal" data-modal="product">
  <!--   Svg иконка для закрытия окна  -->

  <svg
    class="product-modal__cross js-modal-close"
    onclick="enableScroll()"
    width="30"
    height="30"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
    />
  </svg>
  <h1 class="product-modal__title">
    Chololate <span class="product-break-line"></span> icecream
  </h1>
  <div class="product-image">
    <img
      class="product-image__ice"
      srcset="
        /src/images/products/product-1-l@1x.jpg 1x,
        /src/images/products/product-1-l@2x.jpg 2x
      "
      src="/src/images/products/product-1-l@1x.jpg"
      alt="морозиво"
    />
    <div class="product-image__background"></div>
  </div>
  <ul class="product-info">
    <li class="product-info__item">
      <div class="product-info__rectangle">
        <div class="product-info__circle">
          <p class="procuct-info__circle-descriprtion">320</p>
        </div>
        <p class="product-info__description">kcal</p>
      </div>
    </li>
    <li class="product-info__item">
      <div class="product-info__rectangle">
        <div class="product-info__circle">
          <p class="procuct-info__circle-descriprtion">4g</p>
        </div>
        <p class="product-info__description">Protein</p>
      </div>
    </li>
    <li class="product-info__item">
      <div class="product-info__rectangle">
        <div class="product-info__circle">
          <p class="procuct-info__circle-descriprtion">8,2g</p>
        </div>
        <p class="product-info__description">Fats</p>
      </div>
    </li>
    <li class="product-info__item">
      <div class="product-info__rectangle">
        <div class="product-info__circle">
          <p class="procuct-info__circle-descriprtion">40,4g</p>
        </div>
        <p class="product-info__description">Carbs</p>
      </div>
    </li>
  </ul>
  <div class="product-ingredients">
    <h2 class="product-ingredients__title">Ingredients</h2>
    <ul class="product-ingredients__list">
      <li class="product-ingredients__item">
        <p class="product-ingredients__ingredients">Milk</p>
        <p class="product-ingredients__ingredients">100ml</p>
      </li>
      <li class="product-ingredients__item">
        <p class="product-ingredients__ingredients">Belgian chocolate</p>
        <p class="product-ingredients__ingredients">20g</p>
      </li>
      <li class="product-ingredients__item">
        <p class="product-ingredients__ingredients">Cream</p>
        <p class="product-ingredients__ingredients">150 ml</p>
      </li>
      <li class="product-ingredients__item">
        <p class="product-ingredients__ingredients">Cocoa powder</p>
        <p class="product-ingredients__ingredients">30g</p>
      </li>
      <li class="product-ingredients__item">
        <p class="product-ingredients__ingredients">Sugar</p>
        <p class="product-ingredients__ingredients">40g</p>
      </li>
      <li class="product-ingredients__item">
        <p class="product-ingredients__ingredients">Vanilla sugar</p>
        <p class="product-ingredients__ingredients">10g</p>
      </li>
    </ul>
  </div>
  <form class="product-form">
    <input
      type="text"
      class="product-form__input"
      placeholder="Name"
      pattern="^[A-Za-z]{3,15}$"
      title="Username should start with uppercase letter and not contain digits, spaces."
    />

    <input
      type="tel"
      class="product-form__input"
      id="phone-validation"
      placeholder="Phone"
      pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
    />

    <textarea
      name="comments"
      class="comments-textarea product-form__input"
      placeholder="Comments"
      
    ></textarea>
    <button type="submit" class="product-form__btn">Submit</button>
  </form>
</div>

<!-- Подложка под модальным окном -->
<div class="product-overlay js-overlay-modal"></div>
<script>
  function disableScroll() {
    // Get the current page scroll position
    scrollTop = window.pageYOffset || document.documentElement.scrollTop;
    (scrollLeft = window.pageXOffset || document.documentElement.scrollLeft),
      // if any scroll is attempted,
      // set this to the previous value
      (window.onscroll = function () {
        window.scrollTo(scrollLeft, scrollTop);
      });
  }
  function enableScroll() {
    window.onscroll = function () {};
  }
</script>