<section class="section product" id="product">
            <div class="container">
                <span class="product__label">100% natural</span>
                <h2 class="product__title">products</h2>
                <ul class="product-gallery">
                    <li class="product-gallery__group">
                        <div class="product-gallery__circle product-gallery__circle--icecream"></div>
                        <div class="product-gallery__box product-gallery__box--icecream">                            
                            <h3 class="product-gallery__name">ice cream</h3>
                            <p class="product-gallery__category">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p>
                            <button type="button" onclick="disableScroll()" class="product-open js-open-modal"  data-modal="product">
                                <svg class="product-icon" width="41px" height="16px">
                                    <use href="./images/sprite.svg#icon-arrow"></use>
                                </svg>
                            </button> 
                        </div>                         
                    </li>
                    <li class="product-gallery__group">                        
                        <div class="product-gallery__circle product-gallery__circle--coffee"></div>
                        <div class="product-gallery__box product-gallery__box--coffee">
                            <h3 class="product-gallery__name">ice coffee</h3>
                            <p class="product-gallery__category">Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers</p>
                             <button type="button" onclick="disableScroll()" class="product-open js-open-modal"  data-modal="product">
                                <svg class="product-icon" width="41px" height="16px">
                                    <use href="./images/sprite.svg#icon-arrow"></use>
                                </svg>
                            </button>
                        </div>
                        
                    </li>
                    <li class="product-gallery__group">                        
                        <div class="product-gallery__circle product-gallery__circle--shakes"></div>
                        <div class="product-gallery__box product-gallery__box--shakes">
                            <h3 class="product-gallery__name">milkshakes</h3>
                            <p class="product-gallery__category">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice</p>
                            <button type="button" onclick="disableScroll()" class="product-open js-open-modal"  data-modal="product">
                                <svg class="product-icon" width="41px" height="16px">
                                    <use href="./images/sprite.svg#icon-arrow"></use>
                                </svg>
                            </button>
                        </div>
                        
                    </li>                    
                </ul>
            </div>
        </section>
        <script>
            
        function disableScroll() {
            // Get the current page scroll position
            scrollTop =
            window.pageYOffset || document.documentElement.scrollTop;
            scrollLeft =
            window.pageXOffset || document.documentElement.scrollLeft,
          
                // if any scroll is attempted,
                // set this to the previous value
                window.onscroll = function() {
                    window.scrollTo(scrollLeft, scrollTop);
                };
        }
          
        function enableScroll() {
            window.onscroll = function() {};
        }

        </script>