  body {
    font-family: Montserrat, sans-serif;
    letter-spacing: 0.04em;
    background-color: var(--primary-bg-color);
    cursor: url('/src/images/cursor.png'), auto;
    }

  body::-webkit-scrollbar {
      width: 1em;
    }
    
  body::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    
  body::-webkit-scrollbar-thumb {
      background-color: #718a66;
      outline: 1px solid slategrey;
    }
    
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
