  body {
    font-family: Montserrat, sans-serif;
    letter-spacing: 0.04em;
    background-color: var(--primary-bg-color);
    cursor: url('/src/images/cursor.png'), auto;
    }

  body::-webkit-scrollbar {
      width: 1em;
    }
    
  body::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    
  body::-webkit-scrollbar-thumb {
      background-color: #718a66;
      outline: 1px solid slategrey;
    }
    
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a{
  cursor:
    url('/src/images/cursor-pointer.png'),
    pointer;
}

.go-top {
  position: fixed;
  z-index: 0;
  bottom: 15px;
  right: 25px;
  fill: rgba($color: #000000, $alpha: 0.5);
  transition: fill 250ms var(--timing-function);

  &:hover {
    fill: rgba($color: #0d8f34, $alpha: 1.0);
  }
}
