 body {
    font-family: Montserrat, sans-serif;
    letter-spacing: 0.04em;
    background-color: var(--primary-bg-color);
    }
    
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}