.container {
    padding-top: 100px;
    text-align: center;
}

p {
    color: blue;
    font-size: 40px;
}

.main {
    @extend %button-default;
}

.read {
    @extend %button-read;
}


.row {
    @extend %button-row;
}

.large {
    @extend %button-large;
}

.transparent {
    @extend %button-transparent;
}

.buy {
    @extend %button-buy;
}