.customers {
  position: relative;
  min-height: 1038px;
  padding-top: 178px;
  padding-bottom: 390px;
  
  background-image: url(../images/background/bcg-s@1x.jpg);
  
  @media screen and (min-width: $tablet) {
    min-height: 1018px;
    padding-top: 283px;
    padding-bottom: 480px;
  }
   @media screen and (min-width: $desctop) {
    min-height: 1054px;
    padding-top: 464px;
    padding-bottom: 228px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .customers {
      background-image: url('../images/background/bcg-s@2x.jpg');
    }
  }
  @media screen and (min-width: $tablet) {
    background-image: url(../images/background/bcg-m@1x.jpg);
    // width: 1332px;
    // height: 1053px;
    // left: calc(50% - 1332px / 2);
    // top: 98px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .customers {
        background-image: url('../images/background/bcg-m@2x.jpg');
      }
    }
  }
  @media screen and (min-width: $desctop) {
    background-image: url(../images/background/bcg-l@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .customers {
        background-image: url('../images/background/bcg-l@2x.jpg');
      }
    }
  }
}

.customers__title {
  @extend %visually-hidden;
}

.gallery {
  position: absolute;
  top: -32;
  left: 50%;
  transform: translateX(-50%);

  width: 280px;  

  @media screen and (min-width: $tablet) {
      top: -144;
      width: 704px; 
  }

  @media screen and (min-width: $desctop) {
    top: -98;
    width: 1013px; 
  }
}

.gallery__picture {
  display: inline-block;
}

.gallery__photo {
  border-radius: 8px;
  margin: 0;
}


.mySlides {
  display: none;
}
.swiper-slide__avatar {
  margin-bottom: 32px;
}
.swiper-slide__pic {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin: 0 auto;

  @media screen and (min-width: $tablet) {
    width: 84px;
    height: 84px;
  }
  @media screen and (min-width: $desctop) {
    width: 85px;
    height: 85px;
  }
}
.swiper-slide__wrapper {
  display: flex;
  align-items: center;

  background-color: var(--primary-bg-color);
  border-radius: 10px;
  text-align: center;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;

  width: 280px;
  height: 256px;

  @media screen and (min-width: $tablet) {
    border-radius: 24px;
    width: 705px;
    height: 138px;
  }

  @media screen and (min-width: $desctop) {
    width: 968px;
    height: 138px;
  }
  
}
.swiper-slide__comment {
  margin: 0;
  padding: 0 39px;
  font-size: 12px;
  line-height: 2.6;
  color: var(--secondary-text-color);

  @media screen and (min-width: $tablet) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
    padding: 0 80px;
  }
  @media screen and (min-width: $desctop) {
    font-size: 16px;
    padding: 0 109px;
  }
}
.swiper-slide__text {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.85;
  margin-bottom: 12px;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    margin-bottom: 32px;
  }
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  padding: 0;
    cursor:
        url('/src/images/cursor-pointer.png'),
        pointer;
  background-color: #d9d9d9;
  display: inline-block;
  transition: background-color 0.6s ease;

  &:not(:last-child) {
    margin-right: 18px;
  }
}

.active, .dot:hover {
  background-color: var(--primary-bg-color);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


