footer {
    width: 100%;
    height: 100%;
    background: #84A178;
    margin: 0;
}

.footer {
    width: 100%;
    background-color: #84A178;
}

/*
@media screen and (min-width: 767px) {
    .footer {
        width: 767px;
    }

}

@media screen and (min-width: 1200px) {
    .footer {
        width: 1200px;
    }

}
*/



.footer__title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 234px;
    margin-left: 20px;
    margin-bottom: 60px;
    padding-right: auto;
    gap: 16px;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .footer__title {
        margin-bottom: 32px;
    }

    .footer__text {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #FCFCFC;
    }

    @media screen and (min-width: 768px) {
        .footer__text {
            width: 352px;
            font-weight: 700;
            font-size: 26px;
            line-height: 32px;
            letter-spacing: 0.04em;
            margin-bottom: 8px;
        }
    }

    @media screen and (min-width: 1200px) {
        .footer__text {
            width: 504px;
            font-weight: 400;
            font-size: 30px;
            line-height: 37px;
            letter-spacing: 0.04em;
        }
    }

    .footer__text-second {
        font-weight: 700;
        font-size: 34px;
        line-height: 41px;
        letter-spacing: 0.04em;
        color: #FCFCFC;
        margin-top: 0;
    }

    @media screen and (min-width: 767px) {
        .footer__text-second {
            width: 352px;
            font-weight: 700;
            font-size: 48px;
            line-height: 59px;
            letter-spacing: 0.06em;
            margin-bottom: 32px;
        }
    }

    @media screen and (min-width: 1200px) {
        .footer__text-second {
            width: 504px;
            font-weight: 700;
            font-size: 58px;
            line-height: 71px;
            letter-spacing: 0.06em;
        }
    }

    @media screen and (min-width: 768px) {
        .footer__tabl {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

    }
    @media screen and (min-width: 320px) {
    .footer__soc {
        list-style: none;
        display: flex;
        justify-content: end;
        margin-right: 20px;
        gap: 20px;
        margin-bottom: 20px;
    }

    .footer__item {
        width: 34px;
        height: 34px;
        gap: 10px;
    }

    .footer__link {
        outline: none;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #F8D24E;
        ;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 200ms;
    }


    .footer__icon {
        fill: #84A178;
        ;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0;
    }
}

    .footer__link:hover .footer__icon,
    .footer__link:focus .footer__icon {
        fill: #FCFCFC;
    }
    @media screen and (min-width: 320px) {
    .footer__tel {
        font-weight: 700;
        font-size: 12px;
        line-height: 186%;
        text-align: right;
        color: #131313;
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;
        margin-bottom: 40px;
    }
}

    @media screen and (min-width: 767px) {
        .footer__tel {
            font-weight: 700;
            font-size: 14px;
            line-height: 186%;
            margin-bottom: 60px;
        }
    }

    @media screen and (min-width: 1200px) {
        .footer__tel {
            font-weight: 700;
            font-size: 16px;
            line-height: 186%;
            letter-spacing: 0.02em;
        }
    }


    .footer__phone {
        font-weight: 700;
        font-size: 12px;
        line-height: 186%;
        color: #FCFCFC;
        text-decoration: none;
        outline: none;
    }

    @media screen and (min-width: 768px) {
        .footer__phone {
            font-weight: 700;
            font-size: 14px;
            line-height: 186%;
        }
    }

    @media screen and (min-width: 1200px) {
        .footer__phone {
            font-weight: 700;
            font-size: 16px;
            line-height: 186%;
            letter-spacing: 0.02em;
        }
    }

    .footer__rights {
        font-weight: 700;
        font-size: 14px;
        line-height: 152%;
        text-align: center;
        color: #7A7A7A;
        padding: 20px;
        margin: 0;
    }


    .footer__rights::before {
        border-top: 1px solid #E1E1E1;
    }

    /*
    .footer__right-tabl {
        font-weight: 700;
        font-size: 14px;
        line-height: 152%;
        text-align: center;
        color: #7A7A7A;
        padding: 20px;
        margin: 0;
    }
/*
    @media screen and (max-width: 767px) {
        .footer__rights-tabl {
            display: none;
        }
    }

    @media screen and (min-width: 767px) {
        .footer__rights {
            display: none;
        }

    }  */
}