.franchise-modal {
    min-width: 280px;
    min-height: 674px;

    width: calc(100% - 30px);
    max-width: 450px;

    @media screen and (min-width: $mobile) {
        min-width: 280px;
    }

    @media screen and (min-width: $tablet) {
        min-width: 568px;
        min-height: 668px;
    }
    padding: 28px;
        
    @media screen and (min-width: 480px) {
    padding: 32px 60px;
    }
}

.franchise-modal__text {
    text-align: left;
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 140%;
    color: var(--primary-text-color);
    @media screen and (min-width: 480px) {
    font-size: 16px;
    }
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}