.franchise-modal {
  opacity: 0;
  visibility: hidden;
  overflow: scroll;
  min-width: 280px;
  min-height: 674px;
  max-height: 100%;
  width: calc(100% - 30px);
  max-width: 450px;
  @media screen and (min-width: $mobile) {
    min-width: 280px;
  }

  @media screen and (min-width: $tablet) {
    min-width: 568px;
    min-height: 668px;
  }
  padding: 28px;

  @media screen and (min-width: 480px) {
    padding: 32px 60px;
  }

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;

  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
}

.franchise-title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24px / 16px);
  text-align: center;
  margin-bottom: 20px;
}
.franchise-modal__text {
  text-align: left;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 140%;
  color: var(--primary-text-color);
  @media screen and (min-width: 480px) {
    font-size: 16px;
  }
}

.overlay {

  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

.franchise-modal.active,
.franchise-overlay.active {
  opacity: 1;
  visibility: visible;
}


.franchise-modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}
