.gallery__title {
    @extend %visually-hidden;
}


.gallery img {
    left: 0;
    right: 0;
    margin: auto;
    background-color: inherit;
    border-radius: 24px;

    @media screen and (min-width: $tablet) {
        width: 704px; 
    }

    @media screen and (min-width: $desctop) {
        width: 1013px;
    }
}


