.hero-section__container{
  position: relative;
}
.hero {
  background-image: url(/src/images/header/dots-s@1x.png);
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 236px;
  padding-top: 47px;
  @media screen and (min-width: $tablet) {
    background-image: url(/src/images/header/dots-m@1x.png);
    padding-top: 13px;
    padding-bottom:12px;
  }
  @media screen and (min-width: 1200px) {
    background-image: url(/src/images/header/dots-l@1x.png);
    padding-top: 41px;
    padding-bottom: 65px;
  }
}
.hero-section__title {
  width: 247px;
  margin-bottom: 32px;

  font-family: 'Seymour One';
  font-style: normal;
  font-size: 26px;
  line-height: calc(33px / 26px);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  
  
  color: #fcfcfc;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }
  

  @media screen and (min-width: $desctop) {
    font-size: 38px;
    line-height: calc(48px / 38px);
    width: 367px;
  }
}
.hero-section__list {
  @extend %list;
  display: flex;
  align-items: center;
  gap: 12px;

  @media screen and (min-width: 768px) {
    margin-top: 24px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 28px;
    gap: 24px;
  }
}

.hero-section__button {
  @extend %button-default;
  height: 38px;
  width: 109px;
  outline: none;
  border: none;

  @media screen and (min-width: 1200px) {
    width: 134px;
    height: 42px;
  }
}

.hero-section__button-link {
  padding: 11px 26px;
  border: 2px solid #f8d24e;
  border-radius: 8px;
  
  font-weight: 600;
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  outline: none;
  
  color: var(--primary-text-color);
  
  transition: border-color 250ms var(--timing-function),
  color 250ms var(--timing-function);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(18px / 14px);
    padding: 11px 34px;
  }

  &:hover {
    color: var(--primary-text-color);
    border-color: #0A8817;
  }

  &:focus {
    color: var(--secondary-text-color);
  }

}

.hero-section__secondbtn {
  @extend %button-row;
  outline: none;
}

.hero-section__link {
  color: var(--accent-color);
  outline: none;
  transition: color 250ms var(--timing-function);

  &:hover {
    color: #0A8817;
  }

  &:focus {
    color: var(--secondary-text-color);
    outline: none;
  }
}

// .hero-section__button-link {
  
// }
.hero-section__picture {
  position: absolute;
  left: 53%;
  bottom: -236;
  width: 177px;

  transform: translateX(-50%);
  @media screen and (min-width: $tablet) {
    left: 65%;
    bottom:-12px;
    width: 268px;
  }
  @media screen and (min-width: $desctop) {
    left: 72%;
     bottom: -65;
     width: 456px;
     
    
  }
}
.hero-section__between {
  display: flex;
  justify-content: space-between;
  @media screen and(min-width:$tablet) {
    margin-bottom: 42px;
  }
}
.hero-section__spots {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    right: 0;
    top: 28px;
  }
}
.hero-section__number {
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: calc(34px / 28px);
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #131313;

  @media screen and (min-width: 1200px) {
    font-size: 46px;
    line-height: calc(54px / 46px);
  }
}
.hero-section__number--margin{
  @media screen and (min-width: 768px) {
  margin-top: 20px;

  }
  @media screen and (min-width: 1200px) {
    margin-top: 16px;
  }
  
}
.hero-section__places {
  font-weight: 400;
  font-size: 8px;
  line-height: calc(10px / 8px);
  color: #fcfcfc;
  @media screen and (min-width:1200px) {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(17px / 14px);
}
}

.hero-section__arrow {
  background-color: transparent;
  fill: #FFFFFF;
  border: none;
  cursor: pointer;
  outline: none;

  transition: fill 250ms var(--timing-function);

  &:hover,
  &:focus {
    fill: #0A8817;
  }
}

.hero-arrow {
  fill: inherit;
}

.hero-section__text {
  width: 200px;
  font-size: 12px;
  line-height: 1.4;
  color: #fcfcfc;

  @media screen and (min-width:1200px) {
    font-size: 14px;
    line-height: calc(14px / 12px);
   

  }
}

.hero-section__paragraph {
  
  @media screen and (min-width:$tablet) {
    padding-top: 20px;
    margin-bottom: 20px;
    
  }
}

.hero-section__content {
  display: none;

  @media screen and(min-width:$tablet) {
    align-items: center;
    display: flex;
    gap: 16px;
    
  }
}
