// .modal {
//     // opacity: 0;
//     // visibility: hidden;
//     position: absolute;
//     top: 50%;
//     left: 50%;

//     transform: translate(-50%, -50%) scale(1);
//     transition: transform 250ms var(--timing-function);
//     z-index: 20;
//     background-color: var(--modal-bg-color);
//     box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
//     text-align: center;

//     background: #fcfcfc;
//     border: 2px solid #f8d24e;
//     border-radius: 10px;
// }
/* Стили для подложки */

.main-overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

/* Стили для модальных окон */

.main-modal {
  opacity: 0;
  visibility: hidden;
  overflow-y: scroll;

  /*  Установаем ширину окна  */
  min-width: 280px;
  max-height: 100%;

  width: calc(100% - 30px);
  max-width: 450px;
  padding: 28px;
  @media screen and (min-width: $mobile) {
    min-width: 280px;
  }

  @media screen and (min-width: $tablet) {
    min-width: 568px;
    min-height: 644px;
    padding: 32px 54px;
  }

  &__product-overlay {
    position: relative;
    width: 132px;
    height: 135px;
    border-radius: 15px;
    margin-top: 83px;
  }
  &__product-overlay__ice-cream {
    background-color: var(--secondary-bg-color);
    border: 2px solid #96af8c;
    box-shadow: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  }
  &__product-overlay__ice-cofee {
    border: 2px solid #efd478;
    box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
  }

  &__product-overlay__milkshake {
    border: 2px solid #d6936d;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  }

  &__product-photo {
    position: absolute;
    top: 0;
    top: -50%;
    left: -2px;
    width: 132px;
    height: 132px;
    border-radius: 50%;
    border-radius: 50%;
  }

  &__product-photo__ice-cream {
    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  }

  &__product-photo__ice-cofee {
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
  }

  &__product-photo__milkshake {
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
  }

  &__product {
    position: absolute;
    top: -7px;
    margin-bottom: 20px;
  }
  &__product__ice-cream {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  &__product-text {
    position: absolute;
    left: 10%;
    bottom: 20px;
    // left: 13px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(20 / 16);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--primary-text-color);
  }

  &__field {
    margin-bottom: 12px;
  }

  &__input-label {
    display: block;
    position: relative;
  }
  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30; /* Должен быть выше чем у подложки*/

  /*  Побочные стили   */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
}
.main-modal-position {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 32px;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    gap: 32px;
    margin-bottom: 40px;
  }
}

.main-modal.active,
.main-overlay.active {
  opacity: 1;
  visibility: visible;
}

.main-modal__product-overlay {
  transition: background-color 700ms var(--timing-function);
}

.main-modal__check {
  appearance: none;
}

.main-modal__check--green:checked + .main-modal__product-overlay {
  background-color: #aec6a5;
}

.main-modal__check--yellow:checked + .main-modal__product-overlay {
  background-color: #efd478;
}

.main-modal__check--brown:checked + .main-modal__product-overlay {
  background-color: #d6936d;
}

.main-modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: url('/src/images/cursor-pointer.png'), pointer;
}

.checkbox-wrap {
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.main-modal__picture {
  border-radius: 50%;
}
// .main-modal.active,
// .backdrop.active {
//     opacity: 1;
//     visibility: visible;
// }

.modal-title {
  display: inline-block;
  // margin-bottom: 20px;
  // text-align: center;
  // margin-left: auto;
  // margin-right: auto;

  font-family: 'Seymour One';

  // display: flex;
  // // justify-content: space-around;
  // align-items: center;
  // justify-content: center;
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: calc(24 / 16);
  max-width: 230px;
  @media screen and (min-width: $tablet) {
    font-size: 20px;
    line-height: calc(28 / 20);
    max-width: 322px;
    margin-right: auto;
  }
}
.main-modal__input {
  width: 100%;
  min-width: 224px;
  height: 32px;
  outline: none;
  margin-bottom: 12px;
  padding: 8px 12px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid var(--primary-bg-color);
  border-radius: 10px;

  font-size: 12px;
  line-height: 140%;
  color: var(--primary-text-color);
  transition: border 250ms var(--timing-function);
  @media screen and (min-width: $tablet) {
    max-width: 368px;
    height: 42px;
    margin-bottom: 16px;
    font-size: 14px;
    padding: 11px 16px;
  }

  &:focus-within {
    border: 1px solid #f7d24e;
  }
}

.main-modal__input-textarea {
  
  height: 65px;
  padding: 8px 12px;
  margin-bottom: 26px;
  resize: none;
  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
  }
}

.main-modal-form__btn {
  min-height: 42px;
  min-width: 114px;
  background: #f7d24e;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: #131313;
  border-style: none;
  cursor: url('/src/images/cursor-pointer.png'), pointer;
  outline: none;
  @media screen and (min-width: $tablet) {
    min-width: 121px;
    font-size: 14px;
    line-height: calc(17 / 14);
  }
  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), fill 250ms var(--timing-function);
  &:hover {
    background: #0a8817;
     color: #ffffff;
  }

  &:focus {
    background: #0a8817;
    color: #ffffff;
  }
}

.main-modal::-webkit-scrollbar {
  width: 5px;
}

.main-modal::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.main-modal::-webkit-scrollbar-thumb {
  background-color: #718a66;
  outline: 1px solid slategrey;
  border-radius: 10px;
}
