.map-overlay {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

.map-modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;

  /*  Установаем ширину окна  */
  width: 100%;
  max-width: 568px;

  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30; /* Должен быть выше чем у подложки*/

  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  padding: 28px;
  @media screen and (min-width: 1200px) {
    padding: 32px;
  }
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
}

.map-modal.active,
.map-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Стили для кнопки закрытия */

.map-modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: url('/src/images/cursor-pointer.png'), pointer;
}

.map-modal__title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24px / 16px);
  color: #131313;
  text-align: center;
}

.map {
  width: 100%;
  height: 200px;
  @media screen and (min-width: 1200px) {
    height: 260px;
  }
  border-radius: 10px;
}
.map-modal__tocenter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.map-modal__btn {
  min-height: 42px;
  min-width: 134px;
  background: #f7d24e;
  border-radius: 10px;
  font-weight: 600;
  border-style: none;
  cursor: url('/src/images/cursor-pointer.png'), pointer;
  outline: none;
  margin-top: 24px;
  font-size: 12px;
  line-height: calc(15px / 12px);
  color: #131313;
  text-decoration: none;
  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), fill 250ms var(--timing-function);
  &:hover {
    background: #0a8817;
    color: #ffffff;
  }
  &:focus {
    background: #0a8817;
    color: #ffffff;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 32px;
  }
}
