.product-overlay {
  opacity: 0;
  visibility: hidden;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}
input,
textarea {
  outline: none;
}

.product-modal {
  opacity: 0;
  visibility: hidden;
  overflow-y: scroll;
  max-height: 100%;
  max-width: 568px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;

  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 28px 20px;
  @media screen and (min-width: 480px) {
    padding: 32px 40px;
  }
  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  transition: 0.3s all;
}
input:invalid {
  border-color: red;
}
input,
input:valid {
  border-color: #ccc;
}
.product-modal.active,
.product-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Стили для кнопки закрытия */

.product-modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: url('/src/images/cursor-pointer.png'), pointer;
}

.product-modal__title {
  font-family: 'Seymour One';
  font-size: 20px;
  line-height: calc(28px / 20px);
  line-break: auto;
  text-align: center;
}
.product-break-line {
  display: block;
  @media screen and (min-width: 480px) {
    display: inline-block;
  }
}
.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
  margin-bottom: 40px;
  z-index: 123;
  position: relative;
}
.product-image__ice {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  z-index: 13232;
}
.product-image__background {
  background-color: var(--primary-bg-color);
  width: 132px;
  height: 132px;
  border-radius: 50%;
  position: absolute;
  top: 7px;
}
.product-info {
  @extend %list;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-info__item {
  &:not(:last-child) {
    margin-right: 9px;
    @media screen and (min-width: 1200px) {
      margin-right: 20px;
    }
  }
  padding: 0;
}
.product-info__rectangle {
  border: 2px solid#9CBE8F;
  width: 53px;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-bottom: 8px;

  border-radius: 40px;
}
.product-info__circle {
  top: 0;
  width: 43px;
  height: 43px;
  background-color: #9cbe8f;
  border: 3px solid #9cbe8f;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-info__description {
  font-size: 10px;
  line-height: calc(12px / 10px);
  color: #131313;
}
.procuct-info__circle-descriprtion {
  font-weight: 500;
  font-size: 10px;
  line-height: 28px;

  color: #131313;
}
// ---------INGREDIENTS-----------

.product-ingredients__title {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: calc(28px / 20px);
  text-align: center;
  color: #131313;
  margin-top: 40px;
  margin-bottom: 24px;
}
.product-ingredients__list {
  @extend %list;
  margin-bottom: 40px;
}
.product-ingredients__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-ingredients__ingredients {
  font-size: 14px;
  line-height: 1.76;
  color: #131313;
}
.product-form__input {
  width: 100%;
  min-width: 224px;
  height: 32px;
  margin-bottom: 12px;
  padding: 8px 12px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;

  font-size: 12px;
  line-height: 140%;
  transition: border-color 250ms var(--timing-function);
  @media screen and (min-width: $tablet) {
    max-width: 368px;
    height: 42px;
    margin-bottom: 16px;
    font-size: 14px;
    padding: 11px 16px;
  }
}
.comments-textarea {
  resize: none;
  height: 65px;
  padding: 8px 12px;
  margin-bottom: 26px;
  resize: none;
  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
  }
}
.product-form__name {
  position: absolute;
  left: 0;
  top: 0;
}
::placeholder {
  font-size: 14px;
  line-height: 1.4;

  color: #131313;
}
.product-form__input--comment {
  height: 84px;
  margin-bottom: 24px;
}
.product-form__btn {
  min-height: 42px;
  min-width: 132px;
  background: #f7d24e;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17px / 14px);
  color: #131313;
  border-style: none;
  cursor: url('/src/images/cursor-pointer.png'), pointer;
  outline: none;
  transition: background 250ms var(--timing-function),
    color 250ms var(--timing-function);
  &:hover {
    background: #0a8817;
    color: #ffffff;
  }
  &:focus {
    background: #0a8817;
    color: #ffffff;
  }
}

.product-modal::-webkit-scrollbar {
  width: 5px;
}

.product-modal::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.product-modal::-webkit-scrollbar-thumb {
  background-color: #718a66;
  outline: 1px solid slategrey;
  border-radius: 10px;
}

