.product {
  background-position-x: -610px;
  background-position-y: -180px;
  
  background-size: cover;    
  height: 100%;
  width: 100%;
  background-image: 
  url(./../images/background/bcg-s@1x.jpg);
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {  
    background-image: url(./../images/background/bcg-s@2x.jpg);  
  }
  @media screen and (min-width:480px) {      
    min-width: 480px; 
    background-image: 
    url(./../images/background/bcg-s@1x.jpg);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {  
    background-image: url(./../images/background/bcg-s@2x.jpg);  
    }      
  }
  @media screen and (min-width:768px) {
    min-width: 768px;
    background-position-x: 0px;
    background-position-y: -100px;   
    background-image: url(./../images/background/bcg-m@1x.jpg);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {     
      background-image: url(./../images/background/bcg-m@2x.jpg);  
    } 
  }
      
  @media screen and (min-width:1200px) {
    min-width: 1200px;
    background-position-x: 0px;
    background-position-y: -230px; 
    background-image: url(./../images/background/bcg-l@1x.jpg);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {     
      background-image: url(./../images/background/bcg-l@2x.jpg);  
    } 
  }        
}
  
.product__label{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  font-weight: 800;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-align: center;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 12px;
  @media screen and (min-width:768px) {
    font-size: 22px;
    line-height: calc(27 / 22);   
  }
  @media screen and (min-width:1200px) {
    font-size: 30px;
    line-height: calc(37 / 30);    
  }
}
.product__title {
  margin-bottom: 40px;
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: calc(38 / 30);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  @media screen and (min-width:768px) {
    margin-bottom: 80px;
    font-size: 34px;
    line-height: calc(43 / 34);
  }
  @media screen and (min-width:1200px) {
    margin-bottom: 120px;
    font-size: 36px;
    line-height: calc(45 / 36);
  }
  }
.product-gallery{      
  @extend %list;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width:768px) {
    flex-direction: row;
    gap: 16px;
  }
  @media screen and (min-width:1200px) {
    gap: 29px;
  }   
}
.product-gallery__group{
  position: relative;
  width: 280px;
  margin-bottom: 60px;
  @media screen and (min-width:480px) {
    
  }
  @media screen and (min-width:768px) {
    width: calc((100% - 32px)/3);
  }
  @media screen and (min-width:1200px) {
    max-width: calc((100% - 58px)/3);
  }
}
.product-gallery__card{
  display: block; 
  line-height: calc(19/16);
  text-align: center;    
  background-color: var(--primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  max-width: calc(100% - 30px);
  width: 200px;     
}
.product-gallery__circle{
  display: block;
    
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  z-index: 10;
  left: 50%;
  transform: translate(-50%);
    
  &::before{
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%) translateY(-5%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    @media screen and (min-width:1200px) {
      width: 302px;
      height: 302px;
    }   
  }
  @media screen and (min-width:1200px) {
    width: 302px;
    height: 302px;
  }
}
.product-gallery__circle--icecream {
  box-shadow: 0px 15.34219px 20.0332px rgba(10, 136, 23, 0.25);
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
  &::before{
    background-image: url(./../images/products/product-1-m@1x.jpg);
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {  
    background-image: url(./../images/products/product-1-m@2x.jpg);  
  }
  
      
  @media screen and (min-width:1200px) {    
    background-image: url(./../images/products/product-1-l@1x.jpg);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {     
      background-image: url(./../images/products/product-1-l@2x.jpg);  
    } 
  }     
  }
}
.product-gallery__circle--coffee {
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
  &::before{
    background-image: url(./../images/products/product-2-m@1x.jpg);
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {  
    background-image: url(./../images/products/product-2-m@2x.jpg);  
  }
  
      
  @media screen and (min-width:1200px) {    
    background-image: url(./../images/products/product-2-l@1x.jpg);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {     
      background-image: url(./../images/products/product-2-l@2x.jpg);  
    } 
  }  
  }
}
.product-gallery__circle--shakes{
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
  &::before{
    background-image: url(./../images/products/product-3-m@1x.jpg);
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {  
    background-image: url(./../images/products/product-3-m@2x.jpg);  
  }
  
      
  @media screen and (min-width:1200px) {    
    background-image: url(./../images/products/product-3-l@1x.jpg);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {     
      background-image: url(./../images/products/product-3-l@2x.jpg);  
    } 
  }  
  }
}

  .product-gallery__box {
  position: relative;
    padding-top: 123px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 16px;
  
  border-radius: 24px;
  margin-top: -100px;
  min-height: 420px; 
  @media screen and (min-width:768px) {
    min-height: 428px;
    padding-top: 108px;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 12px;
  }
  @media screen and (min-width:1200px) {
    min-height: 536px;
    padding-top: 165px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 60px;
  }
}
.product-gallery__box--icecream{
  background: #AEC6A5;
}
.product-gallery__box--coffee{
  background: #EFD478;
}
.product-gallery__box--shakes{
  background: #D6936D;
}  
.product-gallery__name {
  margin-bottom: 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  @media screen and (min-width:768px) {
    margin-bottom: 40px;
    font-size: 22px;
    line-height: calc(27 / 22);
  }
  @media screen and (min-width:1200px) {
    margin-bottom: 66px;
    font-size: 30px;
    line-height: calc(37 / 30);
  }  
}
.product-gallery__category{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 176%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #131313; 
  
  @media screen and (min-width:1200px) {    
    font-size: 16px;
  } 
}

.product-open{
  position: absolute;
  border-color:  transparent;
  background-color: transparent;
  color: #131313;
  padding: 0;
  bottom: 16px;
    cursor:
        url('/src/images/cursor-pointer.png'),
        pointer;
  left: 50%;
  margin-bottom: 0;
  transform: translate(-50%);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width:1200px) {    
    bottom: 60px;
  }   
  &:hover,
  &:focus {  
    color: #0A8817;
  }
}
.product-icon{
  fill: currentColor;
}
  
.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
    