.video-overlay {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

.video-modal {
 
  opacity: 0;
  visibility: hidden;


  width: 100%;
  max-width: 568px;


  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30; 

  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  padding: 28px;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
}

.video-modal.active,
.video-overlay.active {
  opacity: 1;
  visibility: visible;
}



.video-modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}

.video-modal__title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24px / 16px);
  color: #131313;
  text-align: center;
}

.video {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  @media screen and (min-width: 1200px) {
    height: 205px;
  }
}
.video-modal__description{
    width: 100%;
    margin-top: 20px;
    @media screen and (min-width: 1200px) {
        margin-top: 32px;
        
    }
    
} 
.video-modal__text {
  font-size: 16px;
  line-height: 1.4;
  color: #131313;

}

